.section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.section_active {
  opacity: 1;
  visibility: visible;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.formWrap {
  position: relative;
  z-index: 5;
  width: 60%;
  /*height: 400px;*/
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}

@media screen and (max-width: 1500px) {
  .formWrap {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .formWrap {
    overflow: scroll;
    width: 90%;
    height: 400px;
  }
}